/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ===== BODY ===== */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  color: white;
  transition: 0.3s;
}

/* ===== NAVBAR ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #ddd;
}

/* ===== HERO ===== */
header {
  text-align: center;
  padding: 60px 20px;
}

.profile {
  width: 130px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 15px;
}

.typing {
  font-size: 20px;
  margin-top: 10px;
  color: #000000;
  min-height: 25px;
}

.typing::after {
  content: "...";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}

/* ===== BUTTON ===== */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #ddd;
}

/* ===== CARD ===== */
.card {
  background: rgba(255,255,255,0.1);
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
  max-width: 800px;
  backdrop-filter: blur(15px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ===== SKILLS ===== */
#skills {
  padding: 30px 20px;
}

.skills-container {
  display: block;
}

.skill {
  margin-bottom: 18px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.skill:hover {
  transform: translateY(-6px) scale(1.01);
  background: rgba(255,255,255,0.1);
}

.skill p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bar {
  width: 100%;
  height: 8px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.bar span {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #00ffcc, #4facfe);
}

/* ===== PROJECT ===== */
.project {
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-8px);
}

.buttons a {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
}

.buttons a:first-child {
  background: black;
  color: white;
}

.buttons a:last-child {
  background: white;
  color: black;
}

/* ===== CONTACT ===== */
.contact-links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  background: #f1f1f1;  
  border-radius: 12px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: 0.1s;
}

.contact-links a:hover {
  background: #6c63ff;
  color: #ffffff;
  transform: translateY(-2px);
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.visitor-box {
  margin-top: 15px;
  padding: 10px 15px;
  background: rgba(255,255,255,0.1);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  backdrop-filter: blur(10px);
}
.visitor-box p {
  margin-bottom: 6px;
  font-size: 14px;
}

.visitor-box img {
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* ===== LIGHT MODE ===== */
.light {
  background: hwb(0 100% 0%);
  color: #000;
}

.light nav {
  background: rgba(255,255,255,0.8);
}

.light nav a {
  color: black;
}
.light .btn {
  background: #6c63ff;
  color: #fff;
  border: 2px solid #6c63ff;
}

.light .btn:hover {
  background: #fff;
  color: #6c63ff;
}

.light .card
.light .project {
  background: rgba(0,0,0,0.05);
}

/* DARK MODE */
body:not(.light) .contact-links a {
  background: rgba(255,255,255,0.1);
  color: white;
}